<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset=" UTF-8"/>
    <title>Corona workplace</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css} "/>

</head>
<body>

<div class="container">
    <div class="row" id="header">
        <div class="col-2">
        </div>
        <div class="col">
            <p class="display-1">Corona workplace</p>
            <p class="display-6">Who is working where and when</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" id="Main screen">
        <div class="col-2" id="navigation">
        </div>
        <div class="col" id="main">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Location</th>
                    <th scope="col">Date</th>
                    <th scope="col">From</th>
                    <th scope="col">Till</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
